/* Main fonts: Roboto - 400(normal text), 700 - headings; 900 - h1; 500 - names in team part
Raleway 700 - logo */
/* Main colors:
header:
background:  #FFFFFF; logo: #2196F3 + #212121; nav - #212121 + hover/focus - #2196F3; contacts - #757575 + hover/focus - #2196F3;
hero section: background - #2F303A; h1 - #FFFFFF; button - #2196F3 + text #FFFFFF;
features section: h3 - #212121; text - #757575;
works section: h2 - #212121;
team section: background -  #F5F4FA; h2 - #212121; h3 - #212121; text - #757575; 
footer: background - #2F303A; logo: #2196F3 + #000000; address text - #FFFFFF; contacts - #757575;
 */

/* Special styles for project */
/* css vars for colors */
:root {
  --background: #ffffff;
  --background-hero: #2f303a;
  --background-section: #f5f4fa;
  --decorative-color: #2196f3;
  --sub-decorative-color: rgba(33, 150, 243, 0.9);
  --btn-hover: #188ce8;
  --title: #212121;
  --text-color: #757575;
  --btns-color: #f5f4fa;
  --border-header: #ececec;
  --portfolio-border: #eeeeee;
  --clients-border: #afb1b8;
  --socials-background: rgba(255, 255, 255, 0.1);
  --modal-background: rgba(0, 0, 0, 0.2);
  --transit-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transit-time: 250ms;
}
/* fonts for page */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  color: var(--text-color);
  letter-spacing: 0.03em;
}
/* delete image margin */
img {
  display: block;
  max-width: 100%;
}
/* hide logical headers */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* all section paddings */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* special container class */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  /* outline: 2px solid red; */
}
/* styles for lists */
.for-list {
  padding: 0;
  margin: 0;

  list-style: none;
}
/* border in page-header */
.border {
  border-bottom: 1px solid var(--border-header);
}

/* -page styles- */
/* ------------- */
/* header styles */

/* elements positions */
.header-blocks {
  display: flex;
}
.header-blocks a {
  text-decoration: none;
}
.site-nav {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  gap: 50px;
}
.contacts {
  display: flex;
  margin-left: auto;
  gap: 50px;
}
.contact-icon {
  display: flex;
  align-items: center;
  transition: color var(--transit-time) var(--transit-function);
}
.contact-icon:hover,
.contact-icon:focus {
  color: var(--decorative-color);
}
.contact-icon .icon {
  fill: currentColor;
  margin-right: 10px;
  padding: 0;
}
/* logo styles */
.logo {
  margin-right: 93px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--decorative-color);
}
.logo span {
  color: var(--title);
}

/* styles for header links */
.nav-link {
  position: relative;

  display: block;
  color: var(--title);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--transit-time) var(--transit-function);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--decorative-color);
}
.contact-link {
  display: block;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--decorative-color);
  fill: var(--decorative-color);
}
.contact-link .icon:hover,
.contact-link .icon:focus {
  fill: var(--decorative-color);
}
/* special class for nav block */
.current {
  color: var(--decorative-color);
}
.current::after {
  position: absolute;
  bottom: -1px;

  content: '';
  border-bottom: 4px solid var(--decorative-color);
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
/* ------------- */

/* -page main-  */
/* ------------- */

/* hero section */
.hero {
  background-color: var(--background-hero);
  padding-bottom: 200px;
  padding-top: 200px;
}
.main-header {
  margin: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  color: var(--background);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 700px;
}
.order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--background);
  background-color: var(--decorative-color);
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  width: 216px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  transition: background-color var(--transit-time) var(--transit-function);
}
.order-button:hover,
.order-button:focus {
  background-color: var(--btn-hover);
}
.overlay {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/backimg.jpg);
  max-width: 1600px;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
/* ------------- */

/* features section */
.features {
  display: flex;
  gap: 30px;
}
.features-item .header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  color: var(--title);
}
.features-item .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}
.features-item .thumb {
  width: 270px;
  height: 120px;
  background: var(--background-section);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 25px 100px; */
}
/* ------------- */

/* works section */
.works {
  padding-top: 0;
}
.section-header {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title);
}
.works-lst {
  display: flex;
  gap: 30px;
}
.works-lst .item {
  position: relative;
}
.works-label {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background);
  background: rgba(47, 48, 58, 0.8);
  /* padding: 27px 90px; */
  margin: 0;
}
/* ------------- */

/* team section */
.team {
  background-color: var(--background-section);
}
.team-container {
  display: flex;
  gap: 30px;
}
.team-card {
  background: var(--background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* team cards */
.team-card .header {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title);
}
.team-card .text {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.team-card .content {
  text-align: center;
  padding: 30px 32px;
}
.socials {
  display: flex;
  gap: 10px;
  align-self: center;
  align-items: center;
}
.icon-social {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--clients-border);
  background-color: var(--background);

  transition: background-color var(--transit-time) var(--transit-function),
    color var(--transit-time) var(--transit-function);
}

.icon-social:hover,
.icon-social:focus {
  background-color: var(--decorative-color);
  color: var(--background);
}
.icon-social .icon {
  fill: currentColor;
}
/* ------------- */

/* clients section */
.clients {
  display: flex;
  gap: 30px;
}
.client {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  border-radius: 4px;
  color: var(--clients-border);
  background-color: var(--background);
  border: 1px solid var(--clients-border);

  transition: color var(--transit-time) var(--transit-function),
    border var(--transit-time) var(--transit-function);
}

.client:hover,
.client:focus {
  border: 1px solid var(--decorative-color);
  color: var(--decorative-color);
}
.client .icon {
  fill: currentColor;
}
/* ------------- */

/* footer section */
.page-footer {
  background-color: var(--background-hero);
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer {
  display: flex;
  align-items: baseline;
}
.footer a {
  text-decoration: none;
}
.address {
  margin-right: 70px;
}
.address .item:not(:last-child) {
  margin-bottom: 9px;
}
.logo-footer {
  display: block;
  margin-right: 70px;
  margin-bottom: 20px;
}
.logo-footer span {
  color: var(--background);
}
.location {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--background);

  transition: color var(--transit-time) var(--transit-function);
}
.location:hover,
.location:focus {
  color: var(--decorative-color);
}
.contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);

  transition: color var(--transit-time) var(--transit-function);
}
.contact:hover,
.contact:focus {
  color: var(--decorative-color);
}
.socials-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background);

  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.icon-social-footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background);

  transition: background-color var(--transit-time) var(--transit-function),
    color var(--transit-time) var(--transit-function);
}
.icon-social-footer:hover,
.icon-social-footer:focus {
  background-color: var(--decorative-color);
  color: var(--background);
}
.footer-icon {
  fill: currentColor;
}
.footer-socials {
  margin-right: 93px;
}

/* form styles */
.footer-form-container {
  width: 570px;
}
.footer-form {
  display: flex;
  align-items: center;
}
.form-header {
  padding: 0;
  margin: 0 0 20px 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background);
}
.footer-send-btn {
  padding: 0;
  margin: 0 0 0 12px;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background: var(--decorative-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--background);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: background-color var(--transit-time) var(--transit-function);
}
.icon-send {
  fill: var(--background);
  margin-left: 10px;
}
.footer-send-btn:hover,
.footer-send-btn:focus {
  background-color: var(--btn-hover);
}
.form-field {
  position: relative;
}
.footer-form-input {
  padding: 0 0 0 16px;
  width: 358px;
  height: 50px;

  color: var(--background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-hero);
}
.form-label {
  position: absolute;
  top: 50%;
  left: 16px;

  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  opacity: 1;

  transition: transform var(--transit-time) var(--transit-function),
    opacity var(--transit-time) var(--transit-function);
  transform: translateY(-50%);
}
.form-field:focus-within > .form-label {
  transform: translateY(50px);
  opacity: 0;
}
/* ------------- */

/* -page portfolio-  */
/* ------------- */

/* buttons */
.filter-btns ul {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}
.filter-item button {
  padding: 6px 22px;
  background: var(--background-section);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  color: #212121;
  cursor: pointer;

  transition: background-color var(--transit-time) var(--transit-function),
    color var(--transit-time) var(--transit-function),
    box-shadow var(--transit-time) var(--transit-function);
}
.filter-item button:hover,
.filter-item button:focus {
  background-color: var(--decorative-color);
  color: var(--background);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* card set */
.card-set {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}
.card-set > .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.portfolio-card {
  transition: box-shadow var(--transit-time) var(--transit-function);
}
.portfolio-card a {
  text-decoration: none;
}
.portfolio-card .thumb {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.portfolio-card .description {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;

  padding: 63px 24px;
  background-color: var(--sub-decorative-color);
  color: var(--background);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  transition: transform var(--transit-time) var(--transit-function);
  transform: translateY(100%);
  /* opacity: 0; */
}
.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card:hover .description {
  transform: translateY(0);

  opacity: 1;
}
.portfolio-card .content {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-border);
  border-top: none;
}
.portfolio-card .header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title);

  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}
.portfolio-card .text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--text-color);

  margin: 0;
  padding: 0;
}

/* ------------- */

/* -modal- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-background);

  transition: opacity var(--transit-time) var(--transit-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  height: 581px;
  width: 528px;
  padding: 8px;
  background-color: var(--background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--transit-time) var(--transit-function),
    opacity var(--transit-time) var(--transit-function);
}
.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: auto;

  background-color: var(--background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: color var(--transit-time) var(--transit-function);
}
.modal-close:hover,
.modal-close:focus {
  color: var(--decorative-color);
}
.modal-icon {
  fill: currentColor;
}

/* modal elements */
.modal-title {
  padding: 0;
  margin: 0 0 12px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title);
}

.modal-btn {
  padding: 0;
  margin: 0 auto;
  border: none;
  width: 200px;
  height: 50px;
  background: var(--decorative-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--background);
  cursor: pointer;

  transition: background-color var(--transit-time) var(--transit-function);
}
.modal-btn:hover,
.modal-btn:focus {
  background: var(--btn-hover);
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 448px;
  margin: 0 auto;
  /* gap: 10px; */
}

.modal-field {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.comment-field {
  display: block;
  margin-bottom: 20px;
}
.modal-input {
  margin: 0;
  padding: 0 0 0 42px;

  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.modal-input:focus {
  border-color: var(--decorative-color);
}
.modal-label-text {
  display: block;
  margin: 0 0 4px 0;
  padding: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.modal-field .icon {
  position: absolute;
  top: 50%;
  left: 12px;
}
.modal-input:focus + .icon {
  fill: var(--decorative-color);
}
.modal-comments {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  /* margin-bottom: 20px; */

  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(57, 57, 57, 0.9);
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.modal-comments:focus {
  border-color: var(--decorative-color);
}
/* policy */
.policy {
  margin: 0 auto 30px auto;
  display: flex;
  align-items: center;
}
.policy-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.policy-text a {
  text-decoration-line: underline;
  color: #2196f3;
}
.checkbox {
  /* appearance: none; */

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.policy > .icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title);
  border-radius: 2px;
}
.checkbox:checked + .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  background-color: var(--decorative-color);
  background-image: url('../images/icon-check.svg');
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}
