.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: $decorative-color;
  text-decoration: none;

  &__part {
    color: $title;
    margin-right: 93px;
  }
}
