/* delete image margin */
%img {
  display: block;
  max-width: 100%;
}
/* styles for lists */
%list {
  padding: 0;
  margin: 0;

  list-style: none;
}

/* hide logical headers */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* all section paddings */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* special container class */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  /* outline: 2px solid red; */
}
